[submodule "Mellow/vendor/spdlog"]
	path = Mellow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mellow/vendor/GLFW"]
	path = Mellow/vendor/GLFW
	url = https://www.github.com/SandyFalafel/glfw.git
[submodule "Mellow/vendor/glm"]
	path = Mellow/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Mellow/vendor/imgui/imgui"]
	path = Mellow/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
